html
	head
		title Test autobuild *.JADE
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
		link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css")
	body.container
		div.row
			div.col-sm-12.text-center
				h1 Coucou Poney !
		div.row
			div.col-sm-3
				ul.nav
					li
						a Lien 1
					li
						a Lien 2
			div.col-sm-9
				h1 Test autobuild *.JADE
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js")
